@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.container {
    border: 1px solid rgb(192, 192, 192);
    background-color: mintcream;
    width: 400px;
    height: 690px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#welcome {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
}

#logo {
    text-align: center;
    transition: transform 1s;
}

#logo:hover {
    transform: scale(1.15);
}

form {
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    font-weight: normal;
    display: block;
    clear: both;
    word-wrap: break-word;
    text-align: left;
    margin-top: -15px;
    margin-left: 50px;
}

input[type=text] {
    position: absolute;
    align-items: center;
    border: none;
    border-bottom: 2px solid rgb(192, 190, 190);
}

.email {
    float: inline-end;
    width: 225px;
    height: 30px;
    margin-left: 30px;
    margin-top: 10px;
    padding-left: 20px;
}

.password {
    float: inline-end;
    width: 225px;
    height: 30px;
    margin-left: 30px;
    margin-top: 70px;
    padding-left: 20px;
    border: none;
    border-bottom: 2px solid rgb(192, 190, 190);
}

.country {
    float: inline-end;
    width: 425px;
    height: 30px;
    margin-left: 10px;
    padding-left: 20px;
}

.remember {
    margin-left: 5px;
    font-size: smaller;
    margin-left: 20px;
}

input[type=submit] {
    background-color: white;
    border: 2px solid rgb(65, 182, 236);
    width: 255px;
    height: 35px;
    border-radius: 12px;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    margin: 2px;
    position: relative;
    top: 15px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: -1px;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: 'Hind'
}

input[type=submit]:hover {
    background-color: rgb(218, 200, 123);
    color: rgb(65, 182, 236);
}

.log_in {
    margin-left: 120px;
}

.apple {
    width: 40%;
    position: relative;
    left: 180px;
    top: 98px;
    cursor: pointer;
}

.google {
    width: 40%;
    position: relative;
    top: 30px;
    transform: scaleY(1.14);
    cursor: pointer;
}

.signup {
    margin-left: 40px;
    font-family: Roboto;
}

.signup a {
    text-decoration: none;
    color: rgb(82, 174, 248);
}

hr {
    width: 50%;
    position: relative;
    right: 15px;
    border: 1px solid rgb(192, 192, 192);
}